
    
    .header-1{
    width: 50%;
    height: 40px;
    text-decoration: none;
    
    background-color: aqua;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
   
}

img{
    width: 10%;
    height: 5%;
    background-color: aqua;
    border: 10px red;
}
.hari{
    
    display: flex;
    
    justify-content: center;
    margin: 10px;
   
}
.hari img{
    
   border-radius: 10px; 
}
.image{
    width: 150px;
    height: 100px;
}
.header-1 img{
    height: 55px;
    width: 50px;
    
    
    margin-left: 0px;
    
    
}
.nav{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.logo{
    display: flex;
   
    justify-content: center;
}
.logo img{
    border-radius: 10px;
    margin: 20px;
   
}
.api{
    border: 1px solid black;
}

